@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Transcity';
  /* src: url('/LarozaRegular-1GwA2.otf'); */
  src: url('/fonts/Rabenk-WyBOO.ttf');

  font-weight: normal;
  font-style: normal;
}
    .containerr {
       
        /* Add your background pattern here */
        background-color: #31313100;
        background-image: radial-gradient(rgba(255, 255, 255, 0.048) 1px, transparent 0);
        background-size: 20px 20px;
        background-position: -5px -5px
      }
  
      body {
        overflow-y: scroll; /* Ensure layout remains the same even if the scrollbar is hidden */
      }
      
      body::-webkit-scrollbar {
        display: none; /* Hide scrollbar */
      }

      .main{
        height: 100vh;
      
        .mask, .body{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #afa18f;
          font-size: 64px;
          line-height: 66px;
          cursor: default;
          
          p{
            width: 1000px;
            padding:40px;
          }
          span{
            color: #ec4e39;
          }
        }
      
        .mask{
          mask-image: url('/mask.svg');
          mask-repeat: no-repeat;
          mask-size: 40px;
          background: #ec4e39;
          position: absolute;
          color: black;
        }
      }